.login_box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0px;
}

.login_box_wrap .login_box_from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
  padding: 64px;
  border: 1px solid #ddd;
  width: 500px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.login_box_wrap .login_box_from h1 {
  padding-bottom: 24px;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  border-bottom: 1px solid whitesmoke;
}

.login_box_wrap .login_box_from h2 {
  padding: 32px 0px 48px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.login_box_wrap .login_box_from .login_id_input_wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.login_box_wrap .login_box_from .login_id_input_wrap .login_id_input_label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
  margin-bottom: 24px;
}

.login_box_wrap .login_box_from .login_id_input_wrap .login_id_input_label .login_id_input_label_text {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.login_box_wrap .login_box_from .login_id_input_wrap .login_id_input_label .login_id_input_box {
  width: 380px;
  height: 44px;
  padding: 10px 16px;
  color: #222;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ededed;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
}

.login_box_wrap .login_box_from .login_pwd_input_wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: left;
}

.login_box_wrap .login_box_from .login_pwd_input_wrap .login_pwd_input_label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.login_box_wrap .login_box_from .login_pwd_input_wrap .login_pwd_input_label .login_pwd_input_label_text {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.login_box_wrap .login_box_from .login_pwd_input_wrap .login_pwd_input_label .login_pwd_input_box {
  width: 380px;
  height: 44px;
  padding: 10px 16px;
  color: #222;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ededed;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
}

.login_box_wrap .login_box_from .login_membership_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
  margin-bottom: 32px;
}

.login_box_wrap .login_box_from .login_membership_wrap .login_membership_label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  outline: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_box_wrap .login_box_from .login_membership_wrap .login_membership_chkeck {
  margin: 0px 4px 0px 0px;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.login_box_wrap .login_box_from .login_membership_wrap .login_membership_chkeck:checked {
  background-color: aqua;
}
