.login_box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0px;
}

.login_box_wrap .login_box_from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
  padding: 64px;
  border: 1px solid #ddd;
  width: 500px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.login_box_wrap .login_box_from h1 {
  padding-bottom: 24px;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  border-bottom: 1px solid whitesmoke;
}

.login_box_wrap .login_box_from h2 {
  padding: 32px 0px 48px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.login_box_wrap .login_box_from .login_id_input_wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.login_box_wrap .login_box_from .login_id_input_wrap .login_id_input_label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
  margin-bottom: 24px;
}

.login_box_wrap .login_box_from .login_id_input_wrap .login_id_input_label .login_id_input_label_text {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.login_box_wrap .login_box_from .login_id_input_wrap .login_id_input_label .login_id_input_box {
  width: 372px;
  height: 44px;
  padding: 10px 16px;
  color: #222;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ededed;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
}

.login_box_wrap .login_box_from .login_pwd_input_wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: left;
}

.login_box_wrap .login_box_from .login_pwd_input_wrap .login_pwd_input_label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.login_box_wrap .login_box_from .login_pwd_input_wrap .login_pwd_input_label .login_pwd_input_label_text {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.login_box_wrap .login_box_from .login_pwd_input_wrap .login_pwd_input_label .login_pwd_input_box {
  width: 372px;
  height: 44px;
  padding: 10px 16px;
  color: #222;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ededed;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
}

.login_box_wrap .login_box_from .login_membership_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
  margin-bottom: 32px;
}

.login_box_wrap .login_box_from .login_membership_wrap .login_membership_label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  outline: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_box_wrap .login_box_from .login_membership_wrap .login_membership_label .login_membership_chkeck {
  margin: 0px 4px 0px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.login_box_wrap .login_box_from .login_membership_wrap .login_membership_label .login_membership_chkeck:checked {
  background-color: #003458;
}

.login_box_wrap .login_box_from .login_membership_wrap .login_membership_label .login_membership_chkeck .checkbox_text {
  color: #979797;
}

.login_box_wrap .login_box_from .login_membership_wrap > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_box_wrap .login_box_from .login_membership_wrap > div p {
  cursor: pointer;
}

.login_box_wrap .login_box_from .login_membership_wrap > div .member_join_btn {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

.login_box_wrap .login_box_from .login_membership_wrap > div span {
  margin-left: 8px;
  margin-right: 8px;
  width: 1px;
  height: 12px;
  background-color: #dfdfdf;
}

.login_box_wrap .login_box_from .login_membership_wrap > div .member_pwd_reset_btn {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

.login_box_wrap .login_box_from .login_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 80px;
  padding: 0px 16px;
  font-weight: 700;
  vertical-align: middle;
  -webkit-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
  cursor: pointer;
  background-color: #2F3C4C;
  border: 1px solid #2F3C4C;
  border-radius: 2px;
  color: #fff;
  height: 56px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.login_box_wrap .login_box_from .login_btn:hover {
  background-color: #1e41d0;
  border-color: #1e41d0;
}

.login_box_wrap .login_box_from .login_btn > span {
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  position: relative;
}

.login_box_wrap .login_sns_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.login_box_wrap .login_sns_wrap > span {
  width: 100px;
  height: 100px;
  border: 100;
  cursor: pointer;
}

.login_box_wrap .login_sns_wrap > span + span {
  margin-left: 16px;
}

.login_box_wrap .login_sns_wrap .login_sns_kakao_btn {
  background-color: #f8e850;
}

.login_box_wrap .login_sns_wrap .login_sns_naver_btn {
  background-color: #00c73c;
}
