.main_store_search_wrap {
  background: #00345b;
  height: 600px;
}

.main_store_search_wrap .inner {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_store_search_wrap .inner .main_stor_search_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_store_search_wrap .inner .main_stor_search_box .main_store_search_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 490px;
  height: 72px;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #222;
}

.main_store_search_wrap .inner .main_stor_search_box .main_store_search_input input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  height: 27px;
  margin-left: 20px;
  font-size: 18px;
  border: 0px;
  background-color: transparent;
}

.main_store_search_wrap .inner .main_stor_search_box .main_stor_search_select_box_wrap {
  margin-top: 30px;
  width: 100%;
  height: 60px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_store_search_wrap .inner .main_stor_search_box .main_stor_search_select_box_wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main_store_search_wrap .inner .main_stor_search_box .main_stor_search_select_box_wrap .item:hover {
  background-color: #f6a300;
  font-weight: 700;
}

.main_store_search_wrap .inner .main_stor_search_box .main_stor_search_select_box_wrap .item:hover:first-child {
  border-radius: 10px 0 0 10px;
}

.main_store_search_wrap .inner .main_stor_search_box .main_stor_search_select_box_wrap .item:hover:last-child {
  border-radius: 0 10px 10px 0;
}

.main_store_search_wrap .inner .main_stor_search_box .main_stor_search_select_box_wrap span {
  display: block;
  width: 1px;
  height: 15px;
  background-color: #222;
  position: relative;
  top: 1px;
}

.main_store_search_wrap .inner .main_stro_search_advertisement_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 0;
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;
  width: 100%;
  height: 80%;
}

.main_store_search_wrap .inner .main_stro_search_advertisement_box .item_view_img_wrap .item_view_img_box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.main_store_search_wrap .inner .main_stro_search_advertisement_box .item_view_img_wrap .item_view_img_box img {
  height: 100%;
  width: 100%;
}

.main_store_search_wrap .inner .main_stro_search_advertisement_box .item_view_img_cnt_wrap {
  position: absolute;
  inset: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_store_search_wrap .inner .main_stro_search_advertisement_box .item_view_img_cnt_wrap .item_view_img_cnt_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 10px;
  right: 25px;
  height: 24px;
  padding: 0 5px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main_store_search_wrap .inner .main_stro_search_advertisement_box .item_view_img_cnt_wrap .item_view_img_cnt_box .item_view_img_icon_wrap {
  width: 18px;
  height: 17.5px;
  margin-right: 4px;
  margin-top: 3px;
}

.main_store_search_wrap .inner .main_stro_search_advertisement_box .item_view_img_cnt_wrap .item_view_img_cnt_box .item_view_img_icon_wrap img {
  height: 100%;
  width: 100%;
}

.main_store_search_wrap .inner .main_stro_search_advertisement_box .item_view_img_cnt_wrap .item_view_img_cnt_box .item_view_img_cnt_text_box {
  line-height: 24px;
  font-size: 13px;
  text-align: center;
  color: #fefefe;
}

.main_store_search_wrap .inner .main_stro_search_advertisement_box .item_view_img_cnt_wrap .item_view_img_cnt_box .item_view_img_cnt_text_box .item_view_img_cnt_text {
  color: inherit;
  font-weight: 700;
}

.main_guide_box_wrap {
  width: 100%;
  margin: 100px 0px 160px;
}

.main_guide_box_wrap .fixed {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 10px;
}

.main_guide_box_wrap .fixed .main_guide_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_guide_box_wrap .fixed .main_guide_box > div {
  margin: 5px;
  width: 100%;
  height: 100%;
}

.main_guide_box_wrap .fixed .main_guide_box > div .banner {
  position: relative;
  padding: 40px;
  border-radius: 30px 0 30px 0;
  height: 450px;
  background-color: #f5a302;
  color: white;
  cursor: pointer;
}

.main_guide_box_wrap .fixed .main_guide_box > div .banner h1 {
  font-size: 25px;
  font-weight: 700;
}

.main_guide_box_wrap .fixed .main_guide_box > div .banner .item_link_box {
  position: absolute;
  inset: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_guide_box_wrap .fixed .main_guide_box > div .banner .item_link_box .item_link_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 50px;
  left: 25px;
}

.main_guide_box_wrap .fixed .main_guide_box > div .banner .item_link_box .item_link_wrap p {
  font-weight: 700;
  font-size: 20px;
}

.main_guide_box_wrap .fixed .main_guide_box > div .banner .item_link_box .item_link_wrap p i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.main_guide_box_wrap .fixed .main_guide_box > div .banner .item_link_box .item_link_wrap p .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.main_guide_box_wrap .fixed .main_guide_box > div .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_guide_box_wrap .fixed .main_guide_box > div .items:first-child .item:first-child {
  border-radius: 30px 0 0 0;
}

.main_guide_box_wrap .fixed .main_guide_box > div .items:last-child .item:last-child {
  border-radius: 0 0 30px 0;
}

.main_guide_box_wrap .fixed .main_guide_box > div .items .item {
  margin: 5px;
  padding: 20px;
  width: 100%;
  height: 220px;
  background-color: #ffd25c;
  cursor: pointer;
}

.main_guide_box_wrap .fixed .main_guide_box > div .items .item h1 {
  font-weight: 700;
  font-size: 20px;
}

.main_guide_box_wrap .fixed .main_guide_box > div .items .item p {
  margin-top: 10px;
  font-size: 16px;
}

.main_banner_box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main_banner_box_wrap .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  width: 100%;
  height: 250px;
  background-color: #ffd25c;
}

.main_like_box_wrap {
  width: 100%;
  margin: 100px 0px 160px;
}

.main_like_box_wrap .fixed {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 10px;
}

.main_like_box_wrap .main_likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.main_like_box_wrap .main_likes .title {
  font-size: 24px;
  line-height: 36px;
  color: #222222;
}

.main_like_box_wrap .main_likes .title > strong {
  font-weight: 700;
  color: #2F3C4C;
}

.main_like_box_wrap .main_likes .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-size: 15px;
  line-height: 22px;
  color: #656565;
  cursor: pointer;
}

.main_like_box_wrap .main_likes .link > svg {
  margin-left: 5px;
}

.main_like_box_wrap .main_likes .link:hover {
  font-weight: 700;
  color: #003458;
}

.main_like_box_wrap .main_like_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_like_box_wrap .main_like_box .main_likes_prev_button {
  width: 50px;
  height: 50px;
  background: #ffd25c;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

.main_like_box_wrap .main_like_box .main_likes_prev_button p {
  margin: auto;
  padding-left: 5px;
  font-size: 0;
}

.main_like_box_wrap .main_like_box .main_likes_prev_button i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
}

.main_like_box_wrap .main_like_box .main_likes_prev_button .left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.main_like_box_wrap .main_like_box .main_likes_prev_button:hover {
  background: #f5a302;
}

.main_like_box_wrap .main_like_box .main_likes_prev_button:hover i {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
}

.main_like_box_wrap .main_like_box .main_likes_next_button {
  width: 50px;
  height: 50px;
  background: #ffd25c;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.main_like_box_wrap .main_like_box .main_likes_next_button p {
  margin: auto;
  padding-right: 5px;
  font-size: 0;
  cursor: pointer;
}

.main_like_box_wrap .main_like_box .main_likes_next_button i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
}

.main_like_box_wrap .main_like_box .main_likes_next_button .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.main_like_box_wrap .main_like_box .main_likes_next_button:hover {
  background: #f5a302;
}

.main_like_box_wrap .main_like_box .main_likes_next_button:hover i {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_likes_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_likes_items > li {
  background-color: white;
  width: 330px;
  height: 400px;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_card_info_wrap {
  position: relative;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .link {
  display: block;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_card_img_wrap {
  padding-top: 66.43%;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_card_img_wrap > div {
  position: absolute;
  inset: 0px;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .img_card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #fafafa;
  background-size: 60px 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .img_card > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .img_card .black {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 200ms ease-in-out 0s;
  transition: background-color 200ms ease-in-out 0s;
  position: absolute;
  inset: 0px;
  z-index: 1;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_card_info {
  margin-top: 20px;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
  color: #222222;
  font-size: 13px;
  line-height: 19px;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .title {
  font-family: 700;
  margin-bottom: 2px;
  color: #222222;
  font-size: 20px;
  line-height: 29px;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .sub_title {
  font-family: 700;
  margin-bottom: 2px;
  color: #222222;
  font-size: 18px;
  line-height: 29px;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .info {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .more {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_like_box_nav {
  margin-top: 20px;
  text-align: center;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_like_box_nav .page_nav_point {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 100%;
  background: #ccc;
  opacity: 0.2;
  margin: 0 4px;
  cursor: pointer;
}

.main_like_box_wrap .main_like_box .main_likes_items_wrap .main_like_box_nav .page_nav_point.active {
  background: #f5a302;
  opacity: 1;
}

.main_remodeling_box_wrap {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 60px 0px 80px;
  background-color: #CDCBBF;
  overflow: hidden;
}

.main_remodeling_box_wrap .fixed {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 10px;
  position: relative;
}

.main_remodeling_box_wrap .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_remodeling_box_wrap .header > p {
  line-height: 40px;
  font-size: 30px;
  color: #fff;
}

.main_remodeling_box_wrap .header > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #fff;
  opacity: 0.6;
}

.main_remodeling_box_wrap .header > a:hover {
  opacity: 1;
}

.main_remodeling_box_wrap .header > a > svg {
  margin-left: 4px;
}

.main_remodeling_box_wrap .remodeling_box_nav {
  margin-top: 30px;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item {
  width: 8%;
  margin: 0 20px;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item .all {
  width: 100%;
  height: 100px;
  font-size: 0;
  background-image: url("/w-beeseo/src/img/button/it_01.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item .cafe {
  width: 100%;
  height: 100px;
  font-size: 0;
  background-image: url("/w-beeseo/src/img/button/it_02.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item .restaurant {
  width: 100%;
  height: 100px;
  font-size: 0;
  background-image: url("/w-beeseo/src/img/button/it_03.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item .sharehouse {
  width: 100%;
  height: 100px;
  font-size: 0;
  background-image: url("/w-beeseo/src/img/button/it_04.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item .house {
  width: 100%;
  height: 100px;
  font-size: 0;
  background-image: url("/w-beeseo/src/img/button/it_05.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item .office {
  width: 100%;
  height: 100px;
  font-size: 0;
  background-image: url("/w-beeseo/src/img/button/it_06.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item .etc {
  width: 100%;
  height: 100px;
  font-size: 0;
  background-image: url("/w-beeseo/src/img/button/it_07.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item p {
  color: #fff;
  padding-top: 5px;
  text-align: center;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item a {
  cursor: pointer;
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item a:hover .all {
  background-image: url("/w-beeseo/src/img/button/it_01_on.png");
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item a:hover .cafe {
  background-image: url("/w-beeseo/src/img/button/it_02_on.png");
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item a:hover .restaurant {
  background-image: url("/w-beeseo/src/img/button/it_03_on.png");
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item a:hover .sharehouse {
  background-image: url("/w-beeseo/src/img/button/it_04_on.png");
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item a:hover .house {
  background-image: url("/w-beeseo/src/img/button/it_05_on.png");
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item a:hover .office {
  background-image: url("/w-beeseo/src/img/button/it_06_on.png");
}

.main_remodeling_box_wrap .remodeling_box_nav .remodeling_nav .item a:hover .etc {
  background-image: url("/w-beeseo/src/img/button/it_07_on.png");
}

.main_remodeling_box_wrap .main_like_box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_remodeling_box_wrap .main_like_box .main_likes_prev_button {
  width: 50px;
  height: 50px;
  background: #ffd25c;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

.main_remodeling_box_wrap .main_like_box .main_likes_prev_button p {
  margin: auto;
  padding-left: 5px;
  font-size: 0;
}

.main_remodeling_box_wrap .main_like_box .main_likes_prev_button i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_prev_button .left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.main_remodeling_box_wrap .main_like_box .main_likes_prev_button:hover {
  background: #f5a302;
}

.main_remodeling_box_wrap .main_like_box .main_likes_prev_button:hover i {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_next_button {
  width: 50px;
  height: 50px;
  background: #ffd25c;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.main_remodeling_box_wrap .main_like_box .main_likes_next_button p {
  margin: auto;
  padding-right: 5px;
  font-size: 0;
  cursor: pointer;
}

.main_remodeling_box_wrap .main_like_box .main_likes_next_button i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_next_button .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.main_remodeling_box_wrap .main_like_box .main_likes_next_button:hover {
  background: #f5a302;
}

.main_remodeling_box_wrap .main_like_box .main_likes_next_button:hover i {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_likes_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_likes_items > li {
  background-color: #EDEDE5;
  width: 330px;
  height: 400px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_card_info_wrap {
  position: relative;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .link {
  display: block;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_card_img_wrap {
  padding-top: 66.43%;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_card_img_wrap > div {
  position: absolute;
  inset: 0px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .img_card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #fafafa;
  background-size: 60px 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .img_card > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .img_card .black {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 200ms ease-in-out 0s;
  transition: background-color 200ms ease-in-out 0s;
  position: absolute;
  inset: 0px;
  z-index: 1;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_card_info {
  margin-top: 20px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
  color: #222222;
  font-size: 13px;
  line-height: 19px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .title {
  font-family: 700;
  margin-bottom: 2px;
  color: #222222;
  font-size: 20px;
  line-height: 29px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .sub_title {
  font-family: 700;
  margin-bottom: 2px;
  color: #222222;
  font-size: 18px;
  line-height: 29px;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .info {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_card_info .more {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_like_box_nav {
  margin-top: 20px;
  text-align: center;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_like_box_nav .page_nav_point {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #222;
  opacity: 0.2;
  margin: 0 4px;
  cursor: pointer;
}

.main_remodeling_box_wrap .main_like_box .main_likes_items_wrap .main_like_box_nav .page_nav_point.active {
  background: #003458;
  opacity: 1;
}

.footer_blank {
  height: 200px;
}
