.stor_map_wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 149px);
  position: relative;
}

.stor_map_wrap .stor_map_box_wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 10;
}

.stor_map_wrap .stor_map_list_wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 100%;
  border-left: 1px solid #e7e7e7;
  position: relative;
  overflow: hidden;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_total_wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  padding: 0 20px;
  background-color: #fe2c54;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_total_wrap .stor_map_list_total_text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 16px 70px 16px 20px;
  min-height: 59px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_total_wrap .stor_map_list_unit_change_btn_wrap {
  margin-left: 13px;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_total_wrap .stor_map_list_unit_change_btn_wrap .stor_map_list_unit_change_btn {
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 30px;
  margin: -13px;
  padding: 13px;
  cursor: pointer;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_total_wrap .stor_map_list_unit_change_btn_wrap .stor_map_list_unit_change_btn > img {
  width: 45px;
  height: 45px;
}
