.stor_map_wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 149px);
  position: relative;
}

.stor_map_wrap .stor_map_box_wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 10;
}

.stor_map_wrap .stor_map_list_wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 100%;
  border-left: 1px solid #e7e7e7;
  position: relative;
  overflow: hidden;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_back_wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #cdcdcd;
  background-color: white;
  z-index: 900;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_back_wrap .stor_map_list_view_back_btn_wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 100%;
  padding: 0px 20px;
  position: relative;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_back_wrap .stor_map_list_view_back_btn_wrap .stor_item_back_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 0px solid #dfdfdf;
  border-radius: 2px;
  background-color: white;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_back_wrap .stor_map_list_view_back_btn_wrap .stor_item_back_btn > img {
  width: 30px;
  height: 30px;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_back_wrap .stor_map_list_view_back_btn_wrap .stor_item_address_text_wrap {
  margin-left: 14px;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_back_wrap .stor_map_list_view_back_btn_wrap .stor_item_address_text_wrap .address_text {
  color: #222222;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  white-space: nowrap;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: calc(100% - 130px);
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  direction: inherit;
  overflow: hidden;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset {
  right: 0px;
  bottom: 0px;
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden scroll;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content::before, .stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content::after {
  content: " ";
  display: table;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content .item_view_img_wrap {
  width: 394px;
  height: 296px;
  left: 0px;
  position: absolute;
  -webkit-transform: translateX(0px) translateY(0px);
          transform: translateX(0px) translateY(0px);
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content .item_view_img_wrap .item_view_img_box img {
  inset: 0px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content .item_view_img_wrap .item_view_img_cnt_wrap {
  position: absolute;
  inset: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content .item_view_img_wrap .item_view_img_cnt_wrap .item_view_img_cnt_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 10px;
  flex-direction: row;
  right: 13px;
  height: 24px;
  padding: 0 5px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content .item_view_img_wrap .item_view_img_cnt_wrap .item_view_img_cnt_box .item_view_img_icon_wrap {
  width: 18px;
  height: 17.5px;
  margin-right: 4px;
  margin-top: 3px;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content .item_view_img_wrap .item_view_img_cnt_wrap .item_view_img_cnt_box .item_view_img_icon_wrap img {
  inset: 0px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content .item_view_img_wrap .item_view_img_cnt_wrap .item_view_img_cnt_text_box {
  line-height: 24px;
  font-size: 11px;
  text-align: center;
  color: #fefefe;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_box_wrap .list_scrollbar .simplebar_wrapper .simplebar_mask .simplebar_offset .simplebar_content_wrapper .simplebar_content .item_view_img_wrap .item_view_img_cnt_wrap .item_view_img_cnt_text_box .item_view_img_cnt_text {
  color: inherit;
  font-weight: 700;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_tell_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 64px;
  padding: 0px 20px;
  background-color: white;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: black 0px 0px 13px 0px;
          box-shadow: black 0px 0px 13px 0px;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_tell_wrap .stor_map_list_view_phon_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0%;
          flex: 2 1 0%;
  padding-bottom: 0px;
  cursor: pointer;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_tell_wrap .stor_map_list_view_phon_wrap .stor_map_list_view_phon_btn {
  width: 36px;
  height: 36px;
  border: 0px solid #dfdfdf;
  border-radius: 2px;
  background-color: white;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_tell_wrap .stor_map_list_view_phon_wrap .stor_map_list_view_phon_btn > img {
  width: 36px;
  height: 36px;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_tell_wrap .stor_map_list_view_message_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 8;
      -ms-flex: 8 1 0%;
          flex: 8 1 0%;
  padding: 0 10px;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_tell_wrap .stor_map_list_view_message_wrap .stor_map_list_view_message_btn {
  width: 100%;
  height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2F3C4C;
  border-radius: 7px;
  border: 0px solid #dfdfdf;
  cursor: pointer;
}

.stor_map_wrap .stor_map_list_wrap .stor_map_list_view_tell_wrap .stor_map_list_view_message_wrap .stor_map_list_view_message_btn > span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
