.register_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0px;
}

.register_wrap > h1 {
  text-align: center;
  padding-bottom: 24px;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.5px;
  border-bottom: 1px solid whitesmoke;
  font-weight: 700;
}

.register_wrap > h2 {
  text-align: center;
  padding: 32px 0px 48px;
  color: #222222;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.register_wrap .card_register_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register_wrap .card_register_wrap .card_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 337px;
  border: 1px solid #e0e0e0;
}

.register_wrap .card_register_wrap .card_item .img_wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register_wrap .card_register_wrap .card_item .title {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.register_wrap .card_register_wrap .card_item .description {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: -1px;
}

.register_wrap .card_register_wrap .card_item .card_register_submit_btn {
  margin-top: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 80px;
  padding: 0px 16px;
  font-weight: 700;
  vertical-align: middle;
  -webkit-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
  cursor: pointer;
  background-color: #326cf9;
  border: 1px solid #326cf9;
  border-radius: 2px;
  color: white;
  height: 56px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.register_wrap .card_register_wrap .card_item .card_register_submit_btn > span {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.register_wrap .card_register_wrap .card_item + div {
  margin-left: 17px;
}
