@charset 'utf-8';
@import './value.scss';
@import './method.scss';

footer {
    border-top: 1px solid $gray;
    width: 100%;
    .fixed {
        @include fixed;
        padding: 0px 10px;
    }
    .f_box_wrap {
        display: flex;
        justify-content: space-between;
        padding: 30px 0px 37px;
        .f_logo {
            flex-grow: 0.5;
            h2 {
                font-size: $font_size_40;
                font-weight: $font_weight_700;
                color: $gray;
            }
        }
        .f_nav_wrap {
            flex-grow: 3;
            .f_copy {
                height: 50px;
                .f_info {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 100%;
                    li {
                        display: flex;
                        align-items: center;
                        height: 12px;
                        a {
                            color: $gray;
                            font-size: $font_size_14;
                            font-weight: $font_weight_400;
                            &.f_strong {
                                font-weight: $font_weight_700;
                            }
                        }
                        +li {
                            margin-left: 16px;
                            padding-left: 16px;
                            border-left: 1px solid $gray;
                        }
                    }
                }
            }
            address {
                padding: 10px 0px 10px;
                ul {
                    li {
                        height: 18px;
                        color: $gray;
                        font-size: $font_size_12;
                        line-height: 18px;
                        white-space: pre-wrap;
                    }
                }
            }
            .f_company {
                margin-top: 5px;
                color: $gray;
                font-size: $font_size_12;
                line-height: 18px;
            }
        }
        .f_service {
            flex-grow: 1;
            text-align: right;
            color: $gray;
            ul {
                li {
                    
                    h2 {
                        font-size: $font_size_17;
                    }
                    a {
                        color: $black;
                        font-size: $font_size_25;
                        font-weight: $font_weight_700;
                    }
                }
            }
        }
    }
}