@charset 'utf-8';
@import './value.scss';
@import './method.scss';

.header {
    @include heder_flex;
    width: 100%;
    min-width: 1200px;
    height: 80px;
    padding: 0px 20px;
    z-index: 999;
    border-bottom: 1px solid $gray;
    background-color: transparent;
    
    div {
        @include heder_flex;
        .logolink {
            margin-top: 3px;
            font-size: $font_size_40;
            font-weight: $font_weight_600;
        }
        &.menuwrap {
            margin-left: auto;
            a {
                margin-left: 40px;
                font-size: 16px;
                line-height: 26px;
                position: relative;
                color: $black;
                user-select: none;
                &:hover {
                    font-weight: $font_weight_700;
                    color: $main_color_hover;
                }
                &.agentlogin_btn {
                    margin-left: 8px;
                    .agentlogin_txet {
                        @include heder_btn;
                        &:hover {
                            color: $white;
                            background-color: $main_color_hover;
                        }
                    }
                }
            }
            .userlogin_btn {
                margin-left: 40px;
                color: rgb(68, 68, 68);
                font-size: 13px;
                border: 0px;
                background-color: transparent;
                .userlogin_text {
                    @include heder_btn;
                    &:hover {
                        color: $white;
                        background-color: $main_color_hover;
                    }
                    span {
                        display: block;
                        margin: 0px 14px;
                        width: 1px;
                        height: 14px;
                        background-color: $gray;
                        position: relative;
                        top: 1px;
                    }
                }
            }
            
        }
    }
}