@charset 'utf-8';

.login_box_wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 120px 0px;
    .login_box_from {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        padding: 64px;
        border: 1px solid #ddd;
        width: 500px;
        background: #fff;
        text-align: center;
        box-shadow: 0 0 20px rgb(0, 0, 0 / 80%);
        h1 {
            padding-bottom: 24px;
            font-size: 30px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -0.5px;
            border-bottom: 1px solid rgb(245, 245, 245);
        }
        h2 {
            padding: 32px 0px 48px;
            color: rgb(34, 34, 34);
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
        }
        .login_id_input_wrap {
            display: inline-flex;
            flex-direction: column;
            text-align: left;
            .login_id_input_label {
                display: inline-flex;
                flex-direction: column;
                margin-top: 0px;
                margin-bottom: 24px;
                .login_id_input_label_text {
                    margin-bottom: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                }
                .login_id_input_box {
                    width: 372px;
                    height: 44px;
                    padding: 10px 16px;
                    color: #222;
                    font-size: 14px;
                    line-height: 24px;
                    border: 1px solid rgb(237, 237, 237);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    transition: all 150ms ease-out 0s;
                }
            }
        }
        .login_pwd_input_wrap {
            display: inline-flex;
            flex-direction: column;
            margin-top: 0px;
            margin-bottom: 16px;
            text-align: left;
            .login_pwd_input_label {
                display: inline-flex;
                flex-direction: column;
                outline: none;
                touch-action: manipulation;
                .login_pwd_input_label_text {
                    margin-bottom: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                }
                .login_pwd_input_box {
                    width: 372px;
                    height: 44px;
                    padding: 10px 16px;
                    color: #222;
                    font-size: 14px;
                    line-height: 24px;
                    border: 1px solid rgb(237, 237, 237);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    transition: all 150ms ease-out 0s;
                }

            }
        }
        .login_membership_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 24px;
            margin-bottom: 32px;
            .login_membership_label {
                display: inline-flex;
                margin-top: 0px;
                margin-bottom: 0px;
                cursor: pointer;
                outline: none;
                touch-action: manipulation;
                align-items: center;
                .login_membership_chkeck {
                    margin: 0px 4px 0px 0px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    appearance: none;
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    &:checked {
                        background-color: #003458;
                    }
                    .checkbox_text {
                        color: rgb(151, 151, 151);;
                    }
                }
            }
            > div {
                display: flex;
                align-items: center;        
                p {
                    cursor: pointer;
                }
                .member_join_btn {
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 700;
                    
                }
                span {
                    margin-left: 8px;
                    margin-right: 8px;
                    width: 1px;
                    height: 12px;
                    background-color: rgb(223, 223, 223);
                }
                .member_pwd_reset_btn {
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 700;
                }

            }
           
        }
        .login_btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 80px;
            padding: 0px 16px;
            font-weight: 700;
            vertical-align: middle;
            transition: all 150ms ease-out 0s;
            cursor: pointer;
            background-color: #2F3C4C;
            border: 1px solid #2F3C4C;
            border-radius: 2px;
            color: #fff;
            height: 56px;
            flex: 0 0 auto;
            &:hover {
                background-color: rgb(30, 65, 208);
                border-color: rgb(30, 65, 208);
            }
            >span {
                height: 24px;
                font-size: 14px;
                line-height: 24px;
                flex: 0 0 auto;
                display: block;
                position: relative;
            }
        }
    }
    .login_sns_wrap {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        > span {
            width: 100px;
            height: 100px;
            border: 100;
            cursor: pointer;
            + span{
                margin-left: 16px;
            }
            .login_sns_kakao_btn {
                background-color: rgb(248, 232, 80);
            }   
            .login_sns_naver_btn {
                background-color: #00c73c;
            }
        }
        
    }
}