@charset 'utf-8';

.login_box_wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 120px 0px;
    .login_box_from {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        padding: 64px;
        border: 1px solid #ddd;
        width: 500px;
        background: #fff;
        text-align: center;
        box-shadow: 0 0 20px rgb(0, 0, 0 / 80%);
        h1 {
            padding-bottom: 24px;
            font-size: 30px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -0.5px;
            border-bottom: 1px solid rgb(245, 245, 245);
        }
        h2 {
            padding: 32px 0px 48px;
            color: rgb(34, 34, 34);
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
        }
        .login_id_input_wrap {
            display: inline-flex;
            flex-direction: column;
            text-align: left;
            .login_id_input_label {
                display: inline-flex;
                flex-direction: column;
                margin-top: 0px;
                margin-bottom: 24px;
                .login_id_input_label_text {
                    margin-bottom: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                }
                .login_id_input_box {
                    width: 380px;
                    height: 44px;
                    padding: 10px 16px;
                    color: #222;
                    font-size: 14px;
                    line-height: 24px;
                    border: 1px solid rgb(237, 237, 237);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    transition: all 150ms ease-out 0s;
                }
            }
        }
        .login_pwd_input_wrap {
            display: inline-flex;
            flex-direction: column;
            margin-top: 0px;
            margin-bottom: 16px;
            text-align: left;
            .login_pwd_input_label {
                display: inline-flex;
                flex-direction: column;
                outline: none;
                touch-action: manipulation;
                .login_pwd_input_label_text {
                    margin-bottom: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                }
                .login_pwd_input_box {
                    width: 380px;
                    height: 44px;
                    padding: 10px 16px;
                    color: #222;
                    font-size: 14px;
                    line-height: 24px;
                    border: 1px solid rgb(237, 237, 237);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    transition: all 150ms ease-out 0s;
                }

            }
        }
        .login_membership_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 24px;
            margin-bottom: 32px;
            .login_membership_label {
                display: inline-flex;
                margin-top: 0px;
                margin-bottom: 0px;
                cursor: pointer;
                outline: none;
                touch-action: manipulation;
                align-items: center;
            }
            .login_membership_chkeck {
                margin: 0px 4px 0px 0px;
                border: 1px solid #ddd;
                border-radius: 2px;
                appearance: none;
                cursor: pointer;
                width: 24px;
                height: 24px;
            }
        }
    }
}