@charset 'utf-8';
@import './value.scss';
@import './method.scss';

.main_store_search_wrap {
    display: flex;
    flex-direction: column;
    background: #00345b;
    height: 800px;
}
.main_guide_box_wrap {
    width: 100%;
    margin: 100px 0px 160px;
    .fixed {
        width: 1200px;
        height: 100%;
        margin: 0px auto;
        padding: 0px 10px;
        .main_guide_box {
            display: flex;
            align-items: center;
            justify-content: center;
            > div {
                margin: 5px;
                width: 100%;
                height: 100%;
                .banner {
                    height: 450px;
                    background-color: #CDCBBF;
                }
                .items {
                    display: flex;
                    .item {
                        margin: 5px;
                        width: 100%;
                        height: 220px;
                        background-color: #EDEDE5;
                    }
                }
            }
        }
    }
}
.main_banner_box_wrap {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .box {
        width: 100%;
        height: 180px;
        line-height: 12;
        background-color: #EDEDE5;
    }
}
.main_like_box_wrap {
    width: 100%;
    margin: 100px 0px 160px;
    .fixed {
        width: 1200px;
        height: 100%;
        margin: 0px auto;
        padding: 0px 10px;
    }
    .main_likes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
        .title {
            font-size: 24px;
            line-height: 36px;
            color: rgb(34, 34, 34);
            >strong{
                font-weight: 700;
                color: #2F3C4C;
            }
        }
        .link {
            display: flex;
            align-items: center;
            margin-left: auto;
            font-size: 15px;
            line-height: 22px;
            color: rgb(101, 101, 101);
            cursor: pointer;
            > svg {
                margin-left: 5px;
            }
            &:hover {
                font-weight: 700;
                color: #003458;
            }
        }
    }
    .main_like_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .main_likes_prev_button {
            width: 50px;
            height: 50px;
            background: #EDEDE5;
            border-radius: 100px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            cursor: pointer;
            p { margin: auto; padding-left: 5px; font-size: 0;}
            i {border: solid black;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            .left {transform: rotate(135deg);}
            &:hover {
                background:#003458;
                i {border: solid #fff;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            }
        }
        .main_likes_next_button {
            width: 50px;
            height: 50px;
            background: #EDEDE5;
            border-radius: 100px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            cursor: pointer;
            p { margin: auto; padding-right: 5px; font-size: 0; cursor: pointer;}
            i {border: solid black;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            .right {transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
            &:hover {
                background:#003458;
                i {border: solid #fff;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            }
        }
        .main_likes_items_wrap {
            flex-grow: 0.5;
            .main_likes_items {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 20px;
                >li {
                    background-color: #EDEDE5;
                    width: 330px;
                    height: 400px;
                }
            }
            .main_card_info_wrap{
                position: relative;
            }
            .link {
                display: block;
            }
            .main_card_img_wrap {
                padding-top: 66.43%;
                border-radius: 2px;
                position: relative;
                overflow: hidden;
                >div {
                    position: absolute;
                    inset: 0px;
                }
            }
            .img_card {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                background-color: rgb(250, 250, 250);
                background-size: 60px 60px;
                user-select: none;
                position: relative;
                overflow: hidden;
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    font-family: "object-fit: cover;";
                }
                .black {
                    background-color: rgba(0, 0, 0, 0.1);
                    transition: background-color 200ms ease-in-out 0s;
                    position: absolute;
                    inset: 0px;
                    z-index: 1;
                }
            }
            .main_card_info {
                margin-top: 20px;
                .division {
                    display: flex;
                    align-items: center;
                    margin-bottom: 4px;
                    color: rgb(34, 34, 34);
                    font-size: 13px;
                    line-height: 19px;
                } 
                .title {
                    font-family: 700;
                    margin-bottom: 2px;
                    color: rgb(34, 34, 34);
                    font-size: 20px;
                    line-height: 29px;
                }
                .sub_title {
                    font-family: 700;
                    margin-bottom: 2px;
                    color: rgb(34, 34, 34);
                    font-size: 18px;
                    line-height: 29px;
                }
                .info {
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .more {
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            .main_like_box_nav{
                margin-top: 20px;
                text-align: center;
                .page_nav_point {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    border-radius: 100%;
                    background: #ccc;
                    opacity: 0.2;
                    margin: 0 4px;
                    cursor: pointer;
                    &.active {
                        background: #003458;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.main_remodeling_box_wrap {
    width: 100%;
    flex-grow: 1;
    padding: 60px 0px 80px;
    background-color: #CDCBBF;
    overflow: hidden;
    .fixed {
        width: 1200px;
        height: 100%;
        margin: 0px auto;
        padding: 0px 10px;
        position: relative;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        >p {
            line-height: 40px;
            font-size: 30px;
            color: #fff;
        }
        >a {
            display: flex;
            align-items: center;
            font-size: 15px;
            color: #fff;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
            >svg {
                margin-left: 4px;
            }
        }
    }
    .remodeling_box_nav {
        margin-top: 30px;
        .remodeling_nav {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            .item {
                width: 8%;
                margin: 0 20px;
                .all {
                    width: 100%;
                    height: 100px;
                    font-size: 0;
                    background-image: url('/w-beeseo/src/img/button/it_01.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .cafe {
                    width: 100%;
                    height: 100px;
                    font-size: 0;
                    background-image: url('/w-beeseo/src/img/button/it_02.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .restaurant {
                    width: 100%;
                    height: 100px;
                    font-size: 0;
                    background-image: url('/w-beeseo/src/img/button/it_03.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .sharehouse {
                    width: 100%;
                    height: 100px;
                    font-size: 0;
                    background-image: url('/w-beeseo/src/img/button/it_04.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .house {
                    width: 100%;
                    height: 100px;
                    font-size: 0;
                    background-image: url('/w-beeseo/src/img/button/it_05.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .office {
                    width: 100%;
                    height: 100px;
                    font-size: 0;
                    background-image: url('/w-beeseo/src/img/button/it_06.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .etc {
                    width: 100%;
                    height: 100px;
                    font-size: 0;
                    background-image: url('/w-beeseo/src/img/button/it_07.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }
                p {
                    color: #fff;
                    padding-top: 5px;
                    text-align: center;
                }
                a {
                    cursor: pointer;
                    &:hover{
                        .all {
                            background-image: url('/w-beeseo/src/img/button/it_01_on.png');
                        }
                        .cafe {
                            background-image: url('/w-beeseo/src/img/button/it_02_on.png');
                        }
                        .restaurant {
                            background-image: url('/w-beeseo/src/img/button/it_03_on.png');
                        }
                        .sharehouse {
                            background-image: url('/w-beeseo/src/img/button/it_04_on.png');
                        }
                        .house {
                            background-image: url('/w-beeseo/src/img/button/it_05_on.png');
                        }
                        .office {
                            background-image: url('/w-beeseo/src/img/button/it_06_on.png');
                        }
                        .etc {
                            background-image: url('/w-beeseo/src/img/button/it_07_on.png');
                        }
                    }
                }
            }
        }
    }
    .main_like_box {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .main_likes_prev_button {
            width: 50px;
            height: 50px;
            background: #EDEDE5;
            border-radius: 100px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            cursor: pointer;
            p { margin: auto; padding-left: 5px; font-size: 0;}
            i {border: solid black;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            .left {transform: rotate(135deg);}
            &:hover {
                background:#003458;
                i {border: solid #fff;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            }
        }
        .main_likes_next_button {
            width: 50px;
            height: 50px;
            background: #EDEDE5;
            border-radius: 100px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            cursor: pointer;
            p { margin: auto; padding-right: 5px; font-size: 0; cursor: pointer;}
            i {border: solid black;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            .right {transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
            &:hover {
                background:#003458;
                i {border: solid #fff;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            }
        }
        .main_likes_items_wrap {
            flex-grow: 0.5;
            .main_likes_items {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 20px;
                >li {
                    background-color: #EDEDE5;
                    width: 330px;
                    height: 400px;
                }
            }
            .main_card_info_wrap{
                position: relative;
            }
            .link {
                display: block;
            }
            .main_card_img_wrap {
                padding-top: 66.43%;
                border-radius: 2px;
                position: relative;
                overflow: hidden;
                >div {
                    position: absolute;
                    inset: 0px;
                }
            }
            .img_card {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                background-color: rgb(250, 250, 250);
                background-size: 60px 60px;
                user-select: none;
                position: relative;
                overflow: hidden;
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    font-family: "object-fit: cover;";
                }
                .black {
                    background-color: rgba(0, 0, 0, 0.1);
                    transition: background-color 200ms ease-in-out 0s;
                    position: absolute;
                    inset: 0px;
                    z-index: 1;
                }
            }
            .main_card_info {
                margin-top: 20px;
                .division {
                    display: flex;
                    align-items: center;
                    margin-bottom: 4px;
                    color: rgb(34, 34, 34);
                    font-size: 13px;
                    line-height: 19px;
                } 
                .title {
                    font-family: 700;
                    margin-bottom: 2px;
                    color: rgb(34, 34, 34);
                    font-size: 20px;
                    line-height: 29px;
                }
                .sub_title {
                    font-family: 700;
                    margin-bottom: 2px;
                    color: rgb(34, 34, 34);
                    font-size: 18px;
                    line-height: 29px;
                }
                .info {
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .more {
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            .main_like_box_nav{
                margin-top: 20px;
                text-align: center;
                .page_nav_point {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    border-radius: 100%;
                    background: #222;
                    opacity: 0.2;
                    margin: 0 4px;
                    cursor: pointer;
                    &.active {
                        background: #003458;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.footer_blank{
    height: 200px;
}
