@charset 'utf-8';

.stor_map_wrap {
    flex-grow: 1;
    display: flex;
    width: 100%;
    height: calc(100% - 149px);
    position: relative;
    .stor_map_box_wrap {
        flex-grow: 1;
        position: relative;
        z-index: 10;
    }
    .stor_map_list_wrap {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;
        border-left: 1px solid rgb(231, 231, 231);
        position: relative;
        overflow: hidden;
        .stor_map_list_total_wrap {
            flex: 0 0 auto;
            display: flex;
            height: 64px;
            padding: 0 20px;
            background-color: #2F3C4C;
            flex-direction: row;
            position: relative;
            border-bottom: 1px solid rgb(231, 231, 231);
            align-items: center;
            .stor_map_list_total_text {
                flex-grow: 1;
                padding: 16px 70px 16px 20px;
                min-height: 59px;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: bold;
                font-size: 18px;
                color: #fff;
                flex: 1 1 auto;
                flex-wrap: wrap;
            }
            .stor_map_list_unit_change_btn_wrap {
                margin-left: 13px;
                .stor_map_list_unit_change_btn {
                    border-radius: 30px;
                    margin: -13px;
                    padding: 13px;
                    cursor: pointer;
                    > img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
        .stor_map_list_select_wrap {
            background-color: rgb(238, 238, 238);
            flex: 1 1 0%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            .stor_map_list_select_box {
                display: flex;
                overflow: visible;
                width: 100%;
                align-items: center;
                background-color: #2F3C4C;
                flex-direction: row;
                min-height: 44px;
                position: relative;
                z-index: 100;
                .stor_map_list_selects {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    flex: 1 1 0%;
                    padding-left: 25px;
                    padding-bottom: 7px;
                    min-height: 44px;
                    align-items: center;
                    overflow: visible;
                    .stor_map_list_select {
                        display: flex;
                        align-items: center;
                        background-color: rgb(246, 246, 246);
                        border-color: rgb(246, 246, 246);
                        border-width: 1px;
                        cursor: pointer;
                        flex-direction: row;
                        height: 30px;
                        margin-right: 10px;
                        margin-top: 7px;
                        max-width: 220px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}