@charset 'utf-8';

.stor_map_wrap {
    flex-grow: 1;
    display: flex;
    width: 100%;
    height: calc(100% - 149px);
    position: relative;
    .stor_map_box_wrap {
        flex-grow: 1;
        position: relative;
        z-index: 10;
    }
    .stor_map_list_wrap {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;
        border-left: 1px solid rgb(231, 231, 231);
        position: relative;
        overflow: hidden;
        .stor_map_list_total_wrap {
            flex: 0 0 auto;
            display: flex;
            height: 64px;
            padding: 0 20px;
            background-color: #fe2c54;
            position: relative;
            border-bottom: 1px solid rgb(231, 231, 231);
            .stor_map_list_total_text {
                flex-grow: 1;
                padding: 16px 70px 16px 20px;
                min-height: 59px;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: bold;
                font-size: 18px;
                color: #fff;
                background: url('/w-beeseo/src/img/button/icon-search.svg') left center / 16px 16px no-repeat transparent;
            }
        }
    }
}