@charset 'utf-8';

.stor_map_wrap {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    .stor_map_box_wrap {
        flex: 1 1 0%;
        display: flex;
        .map_box_wrap {
            flex: 1 1 0%;
            background-color: rgb(241, 241, 241);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-right: 1px solid rgb(225, 225, 225);
            .map_box {
                display: flex;
                flex: 1 1 0%;
                flex-direction: column;
                align-items: center;
                .map_img {
                    display: flex;
                    flex: 1 1 0%;
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                    #map {
                        flex: 1 1 0%;
                    }
                }
            }
            
        }
        .list_box_wrap {
            flex: 0 0 400px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;
        }
    }
}