@charset 'utf-8';

.stor_map_wrap {
    flex-grow: 1;
    display: flex;
    width: 100%;
    height: calc(100% - 149px);
    position: relative;
    .stor_map_box_wrap {
        flex-grow: 1;
        position: relative;
        z-index: 10;
    }
    .stor_map_list_wrap {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;
        border-left: 1px solid rgb(231, 231, 231);
        position: relative;
        overflow: hidden;
        .stor_map_list_view_back_wrap {
            flex: 0 0 auto;
            display: flex;
            width: 100%;
            height: 64px;
            border-bottom: 1px solid rgb(205, 205, 205);
            background-color: rgb(255, 255, 255);
            z-index: 900;
            .stor_map_list_view_back_btn_wrap {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                width: 300px;
                height: 100%;
                padding: 0px 20px;
                position: relative;
                .stor_item_back_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    border: 0px solid rgb(223, 223, 223);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    > img {
                        width: 30px;
                        height: 30px;
                    }
                }
                .stor_item_address_text_wrap {
                    margin-left: 14px;
                    .address_text {
                        color: rgb(34, 34, 34);
                        flex: 1 1 auto;
                        flex-wrap: wrap;
                        font-size: 18px;
                        font-weight: normal;
                        line-height: 23px;
                        white-space: nowrap;
                    }
                }
            }
        }
        
        .stor_map_list_view_box_wrap {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: calc(100% - 130px);
            .list_scrollbar {
                position: relative;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: flex-start;
                align-items: flex-start;
                flex-grow: 1;
                height: 100%;
                .simplebar_wrapper {
                    overflow: hidden;
                    width: inherit;
                    height: inherit;
                    max-width: inherit;
                    max-height: inherit;
                    .simplebar_mask {
                        position: absolute;
                        padding: 0;
                        margin: 0;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        direction: inherit;
                        overflow: hidden;
                        width: auto!important;
                        height: auto!important;
                        z-index: 0;
                        .simplebar_offset{
                            right: 0px;
                            bottom: 0px;
                            direction: inherit!important;
                            box-sizing: inherit!important;
                            resize: none!important;
                            position: absolute;
                            padding: 0;
                            margin: 0;
                            left: 0;
                            top: 0;
                            .simplebar_content_wrapper {
                                direction: inherit;
                                box-sizing: border-box!important;
                                position: relative;
                                display: block;
                                height: 100%;
                                overflow: hidden scroll;
                                width: auto;
                                max-width: 100%;
                                max-height: 100%;
                                .simplebar_content {
                                    padding: 0px;
                                    display: flex;
                                    flex-direction: column;
                                    height: 100%;
                                    &::before, &::after {
                                        content: " ";
                                        display: table;
                                    }
                                    .item_view_img_box_wrap {
                                        display: flex;
                                        height: 0px;
                                        padding-bottom: 80%;
                                        flex-direction: column;
                                        position: relative;
                                        z-index: 0;
                                        .item_view_img_wrap {
                                            position: absolute;
                                            width: 394px;
                                            height: 296px;
                                            left: 0px;
                                            .item_view_img_box {
                                                img {
                                                    height: 100%;
                                                    width: 100%;
                                                }    
                                            }
                                        }
                                        .item_view_img_cnt_wrap {
                                            position: absolute;
                                            inset: 0px;
                                            align-items: center;
                                            .item_view_img_cnt_box {
                                                display: flex;
                                                flex-direction: row;
                                                position: absolute;
                                                bottom: 10px;
                                                flex-direction: row;
                                                right: 25px;
                                                height: 24px;
                                                padding: 0 5px;
                                                border-radius: 4px;
                                                background-color: rgba(0, 0, 0, 0.3);
                                                .item_view_img_icon_wrap {
                                                    width: 18px;
                                                    height: 17.5px;
                                                    margin-right: 4px;
                                                    margin-top: 3px;
                                                    img {
                                                        height: 100%;
                                                        width: 100%;
                                                    }
                                                }
                                                .item_view_img_cnt_text_box {
                                                    line-height: 24px;
                                                    font-size: 11px;
                                                    text-align: center;
                                                    color: rgb(254, 254, 254);
                                                    .item_view_img_cnt_text {
                                                        color: inherit;
                                                        font-weight: 700;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .item_view_title_wrap {
                                        .item_view_title_box {
                                            display: flex;
                                            flex-direction: column;
                                            flex-basis: auto;
                                            background-color: rgb(255, 255, 255);
                                            position: relative;
                                            z-index: 0;
                                            .item_view_price_box {
                                                display: flex;
                                                background-color: rgb(255, 255, 255);
                                                flex-direction: row;
                                                padding: 0 18px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .stor_map_list_view_tell_wrap {
            display: flex;
            bottom: 0px;
            position: absolute;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 64px;
            padding: 0px 20px;
            background-color: rgb(255, 255, 255);
            justify-content: flex-end;
            box-shadow: rgb(0, 0, 0 / 10%) 0px 0px 13px 0px;
            .stor_map_list_view_phon_wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 2 1 0%;
                padding-bottom: 0px;
                cursor: pointer;
                .stor_map_list_view_phon_btn {
                    width: 36px;
                    height: 36px;
                    border: 0px solid rgb(223, 223, 223);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    > img {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
            .stor_map_list_view_message_wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 8 1 0%;
                padding: 0 10px;
                .stor_map_list_view_message_btn {
                    width: 100%;
                    height: 36px;
                    align-items: center;
                    background-color: #2F3C4C;
                    border-radius: 7px;
                    border: 0px solid rgb(223, 223, 223);
                    cursor: pointer;
                    > span {
                        color: #fff;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}