@charset 'utf-8';

.account_registerchk_wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 120px 0px;
    .account_register_img_info_wrap {
        display: flex;
        width: 1200px;
        margin: 0px auto;
        justify-content: center;
        align-content: center;
        text-align: center;
        >img {
            width: 50%;
        }
    }
}