@charset 'utf-8';

.account_registerchk_wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 120px 0px;
    .account_register_img_info_wrap {
        display: flex;
        width: 1200px;
        margin: 0px auto;
        justify-content: center;
        align-content: center;
        text-align: center;
        img {
            width: 50%;
        }
        .arrow_img_wrap {
            display: flex;
            justify-content: center;
            align-content: center;
            p { margin: auto; padding-right: 5px; font-size: 0;}
            i {border: solid #ccc;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            .right {transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
        }
    }
}