@charset 'utf-8';

.account_registerchk_wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    .account_register_img_info_wrap {
        display: flex;
        width: 1200px;
        margin: 0px auto;
        justify-content: center;
        align-content: center;
        text-align: center;
        .account_register_info_img_box {
            width: 280px;
            height: 236px;
            img {
                width: 40%;
            }
            h1.title {
                margin-top: 10px;
                font-size: 24px;
                color: #222;
            }
            p.info {
                font-size: 14px;
                color: #ccc;
                margin-top: 5px;
            }
        }
        .arrow_img_wrap {
            p { padding-top: 60px; margin: auto; padding-right: 5px; font-size: 0;}
            i {border: solid #ccc;border-width: 0 2px 2px 0;display: inline-block;padding: 8px;}
            .right {transform: rotate(-45deg);}
        }
    }
}
.account_registerinfo_box_wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    .account_registerinfo_box {
        display: flex;
        flex-direction: column;
        width: 588px;
        margin: 0px auto;
        padding: 64px;
        border: 1px solid rgb(245, 245, 245);
        > h1 {
            text-align: center;
            padding-bottom: 24px;
            font-size: 30px;
            line-height: 48px;
            letter-spacing: -0.5px;
            border-bottom: 1px solid rgb(245, 245, 245);
            font-weight: 700;
        }
        > h2 {
            text-align: center;
            padding: 32px 0px 48px;
            color: rgb(34, 34, 34);
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
        }
        .account_registerinfo_input_wrap {
            display: inline-flex;
            flex-direction: column;
            text-align: left;
            .account_registerinfo_id_input_label {
                display: inline-flex;
                flex-direction: column;
                margin-top: 0px;
                margin-bottom: 24px;
                .account_registerinfo_id_input_text {
                    margin-bottom: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                }
                .registerinfo_id_input_box {
                    width: 460px;
                    height: 44px;
                    padding: 10px 16px;
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    line-height: 24px;
                    border: 1px solid rgb(237, 237, 237);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    transition: all 150ms ease-out 0s;
                }
            }
        }
        .account_registerinfo_firstname_input_wrap {
            display: inline-flex;
            flex-direction: column;
            margin-top: 0px;
            margin-bottom: 24px;
            .account_registerinfo_firstname_input_label {
                display: inline-flex;
                flex-direction: column;
                outline: none;
                touch-action: manipulation;
                .account_registerinfo_firstname_input_text {
                    margin-bottom: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                }
                .registerinfo_firstname_input_box {
                    width: 460px;
                    height: 44px;
                    padding: 10px 16px;
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    line-height: 24px;
                    border: 1px solid rgb(237, 237, 237);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    transition: all 150ms ease-out 0s;
                }
            }
        }
        .account_registerinfo_nickname_input_wrap {
            display: inline-flex;
            flex-direction: column;
            margin-top: 0px;
            margin-bottom: 24px;
            .account_registerinfo_nickname_input_label {
                display: inline-flex;
                flex-direction: column;
                outline: none;
                touch-action: manipulation;
                .account_registerinfo_nickname_input_text {
                    margin-bottom: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                }
                .registerinfo_nickname_input_box {
                    width: 460px;
                    height: 44px;
                    padding: 10px 16px;
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    line-height: 24px;
                    border: 1px solid rgb(237, 237, 237);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    transition: all 150ms ease-out 0s;
                }
            }
        }
        .account_registerinfo_password_input_wrap {
            display: inline-flex;
            flex-direction: column;
            margin-top: 0px;
            margin-bottom: 8px;
            .account_registerinfo_password_input_label {
                display: inline-flex;
                flex-direction: column;
                outline: none;
                touch-action: manipulation;
                .account_registerinfo_password_input_text {
                    margin-bottom: 8px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                }
                .registerinfo_password_input_box {
                    width: 460px;
                    height: 44px;
                    padding: 10px 16px;
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    line-height: 24px;
                    border: 1px solid rgb(237, 237, 237);
                    border-radius: 2px;
                    background-color: rgb(255, 255, 255);
                    transition: all 150ms ease-out 0s;
                }
            }
        }
        .registerinfo_passwordchk_input_box {
            width: 460px;
            height: 44px;
            padding: 10px 16px;
            color: rgb(34, 34, 34);
            font-size: 14px;
            line-height: 24px;
            border: 1px solid rgb(237, 237, 237);
            border-radius: 2px;
            background-color: rgb(255, 255, 255);
            transition: all 150ms ease-out 0s;
        }
        .account_registerinfo_recaptcha_wrap {
            display: inline-flex;
            flex-direction: column;
            margin-top: 24px;
            margin-bottom: 8px;
        }
        .account_register_info_submit {
            margin-top: 32px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 80px;
            padding: 0px 16px;
            font-weight: 700;
            vertical-align: middle;
            transition: all 150ms ease-out 0s;
            cursor: pointer;
            background-color: rgb(50, 108, 249);
            border: 1px solid rgb(50, 108, 249);
            border-radius: 2px;
            color: rgb(255, 255, 255);
            height: 56px;
            flex: 0 0 auto;
            > span {
                position: relative;
                flex: 0 0 auto;
                display: block;
                height: 24px;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}