@charset 'utf-8';

.register_wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 120px 0px;
    > h1 {
        text-align: center;
        padding-bottom: 24px;
        font-size: 30px;
        line-height: 48px;
        letter-spacing: -0.5px;
        border-bottom: 1px solid rgb(245, 245, 245);
        font-weight: 700;
    }
    > h2 {
        text-align: center;
        padding: 32px 0px 48px;
        color: rgb(34, 34, 34);
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
    }
    .card_register_wrap {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        .user_card {
            display: flex;
            flex-direction: column;
            width: 337px;
            border: 1px solid #e0e0e0;
            .img_wrap {
                display: inline-flex;
                flex-direction: column;
                text-align: center;
                img {
                    width: 80%;
                }
            }
        }
        .realtor_card {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            width: 337px;
            border: 1px solid #e0e0e0;
            .img_wrap {
                display: inline-flex;
                flex-direction: column;
                text-align: center;
                img {
                    width: 80%;
                }
            }
        }
    }
}