@charset 'utf-8';

//color
$main_color: #2F3C4C;
$main_color_hover: #003458;
$white : #fff;
$black : #222;
$gray: #ccc;

//font-size
$font_size_12 : 12px;
$font_size_14 : 14px;
$font_size_17 : 17px;
$font_size_25 : 25px;
$font_size_40 : 40px;

//font-weight
$font_weight_300 : 300;
$font_weight_400 : 400;
$font_weight_600 : 600;
$font_weight_700 : 700;
